name: Update website

on:
  push:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-website:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Generate website
      uses: Dependency-Drift-Tracker/dependency-drift-tracker-action@v1
      with:
        command: generate-website
